<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiji.coursedesign">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_action_dropbox"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.ChooseFunctionActivity"
            android:theme="@style/myTransparent">

        </activity>
        <activity android:name=".UI.RegisterActivity">

        </activity>
        <activity android:name=".UI.MainActivity">

        </activity>
        <activity android:name=".UI.PhotoEditActivity">

        </activity>
        <activity android:name=".UI.WeatherActivity">

        </activity>
        <activity android:name=".UI.PhotoDetailActivity">

        </activity>
        <activity android:name=".UI.ShowPhotoActivity">

        </activity>

        <activity android:name=".UI.TextEditActivity">

        </activity>
        <activity android:name=".UI.PaintActivity">

        </activity>
        <activity android:name=".UI.GameActivity">

        </activity>

        <activity android:name=".UI.SettingActivity">

        </activity>
        <activity android:name=".UI.PersonalActivity">

        </activity>
        <activity android:name=".UI.AccomplishedRecordActivity">

        </activity>

        <service android:name=".Service.AutoUpdateService">

        </service>
        <service android:name=".Service.AlarmService">

        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.jiji.coursedesign.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>